body {
  text-align: center;
  font-weight: bold;
}

.btn {
  width: 300px;
  padding: 30px;
  margin-top: 100px;
  color: rgb(245, 245, 245);
  background: rgb(247, 0, 255);
  box-shadow: 0 10px 0 #aaa;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
}
.btn:active {
  margin-top: 110px;
  box-shadow: none;
}

.text {
  font-size: 25px;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.1s;
}

.tl {
  transform: translate(0);
  opacity: 1;
}